<h1>About Me</h1>
<p> Karam is a software engineer and a web developer. He is passionate about coding and learning new technologies.
    He is currently working on a project that is built using Ruby on Rails.
    He is also learning React and Redux to build a front-end for his project.
    He is a quick learner and a team player. He is always looking for new opportunities to learn and grow.
    He is also a good communicator and a problem solver. He is always looking for ways to improve his skills and knowledge.
    He is also a good listener and a good teacher. He is always willing to help others and share his knowledge.
    He is also a good leader and a good follower. He is always looking for ways to improve himself and others.
</p>    
<%= link_to "Home", root_path %>